{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

<div class="intro">
    The Nico&nbsp;Colchester fellowships were established in memory of Nico&nbsp;Colchester, <a href="http://www.ft.com/cms/s/2/c5e244a4-6262-11da-8dad-0000779e2340.html">who&nbsp;died</a> in 1996 after an outstanding career at the Financial&nbsp;Times, The Economist and The Economist Intelligence&nbsp;Unit. Nico had a passion for writing about European politics, economics, and society – and his sharp, witty, authoritative analysis would have been especially precious&nbsp;today.
</div>
<div class="content">
    <div id="people">
        <div id="dove" class="people-group dove">
            <div class="group-heading">
                About the fellowship
            </div>
            <div class="card">
                <div class="card__body">
                    <h3 class="card__title name"></h3>
                    <p class="job"></p>
                    <p class="standfirst"></p>
                    <p>
                      Between the migration crisis, the threat of terrorism, the rise of populism, the eurozone’s economic struggles and the Brexit vote, the very foundations of European integration have been called into question in recent years. But Emmanuel Macron’s victory in the French election and the prospect of a new grand coalition in Germany have raised hopes that a new European dawn could be in store. Undoubtedly, Nico would have been able to tell this story like few others in his profession: just consider some of his most famous work, from his creation of a <a href="http://www.ft.com/cms/s/2/9f128868-68b4-11da-bd30-0000779e2340.html">Mars Bar index</a> – “a currency for our time” - to his division of the world, and its politicians, into <a href="http://www.ft.com/cms/s/2/4529b44e-68b8-11da-bd30-0000779e2340.html">the “soggy” and the “crunchy”</a>.
                    </p>
                    <p>
                        So in this momentous year for Europe, here is your chance to emulate one of the finest reporters of his generation, and launch a career in the exciting world of journalism at two of the most global and prestigious news organisations. Below are the details.
                    </p>
                    <h3 id="what-do-the-prizes-involve-and-who-is-eligible">
                        What do the prizes involve and who is eligible?
                    </h3>
                    <p>
                        Two awards are on offer: one, for a British or Irish applicant, will consist of a three-month fellowship in continental Europe at The Economist; the other, for an applicant from elsewhere in the European Union, will be in London at the Financial Times also lasting three months. The fellowships are open only to EU citizens. Both winners will receive a bursary of £6,000 to cover accommodation and travel.
                    </p>
                    <h3 id="who-are-the-fellowships-suited-for">
                        Who are the fellowships suited for?
                    </h3>
                    <p>
                        The fellowships are intended for aspiring or early-career journalists with bold ideas and a lively writing style, each capable of adapting to the excitement and pressures of a modern newsroom. The fellow should have a particular interest and curiosity about European affairs, as the prize aims to help continental writers understand Britain and British writers understand Europe.
                    </p>
                    <h3 id="what-is-this-years-subject">
                        What is this year’s subject?
                    </h3>
                    <p>
                        What is Europe’s greatest weakness? Please choose the country, institution, or issue that is of greatest concern.
                    </p>
                    <h3 id="how-does-one-apply">
                        How to apply?
                    </h3>
                    <p>
                        Please send a submission on the subject above, together with a CV and covering letter. The submission can be:
                    </p>
                    <ul>
                        <li>an unpublished written article, blog post or data-rich essay of max 850 words (pdf or doc)
                        </li>
                        <li>an unpublished 2-minute video (avi or mp4)
                        </li>
                        <li>an unpublished 2-minute podcast (mp3)
                        </li>
                    </ul>
                    <p>
                        Please make sure you submit your work in one of the formats specified. Big files can be sent using a file transfer or file hosting service or by submitting a password-protected link.
                    </p>
                    <p>
                        Entries should be sent, by the closing date of April 6th 2018, by e-mail to <a href="mailto:ncprize@ft.com">ncprize@ft.com</a>.
                    </p>
                    <p>
                        Shortlisted candidates will be asked to provide confirmation of their citizenship.
                    </p>
                    <p>
                        Successful applicants will be notified by the end of May 2018.
                    </p>
                </div>
            </div>
        </div>
        <div id="other" class="people-group other">
            <div class="group-heading">
                Previous Winners
            </div>
            <div class="card">
                <div class="img-holder">
                    <img src="https://ig.ft.com/static/nico-colchester/images/prideaux.png" class="card__img">
                </div>
                <div class="card__body">
                    <p class="quote">
                        I had been thinking about academia then decided that wasn't for me. But I wasn't sure what to do instead. The Nico&nbsp;Colchester fellowship kindled my enthusiasm for journalism because I figured out this was something I could do
                    </p>
                    <h3 class="card__title name">
                        John Prideaux
                    </h3>
                    <p class="job">
                        US editor, The Economist
                    </p>
                    <p class="standfirst"></p>
                    <p>
                        John was awarded the Nico Colchester fellowship in 2003, spending three months at the Financial Times in Brussels. After the fellowship, he wrote freelance for The Economist and the New Statesman for some time. Eventually, he became an intern at The Economist, which led to a job covering British politics. He has been there ever since, at the moment as US editor.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="img-holder">
                    <img src="https://ig.ft.com/static/nico-colchester/images/victoria.png" class="card__img">
                </div>
                <div class="card__body">
                    <p class="quote">
                        The Nico Colchester fellowship actually changed my professional plans. I enjoyed it so much I decided to pursue a career in journalism
                    </p>
                    <h3 class="card__title name">
                        Viktoria Dendrinou
                    </h3>
                    <p class="job">
                        Brussels correspondent, The Wall Street Journal
                    </p>
                    <p class="standfirst"></p>
                    <p>
                        Viktoria was awarded the Nico Colchester fellowship in 2011, spending three months at The Economist in London. Afterwards, she went on to Reuters, starting as an intern, and then moved on to Breakingviews, the commentary side of Reuters, writing mainly about macroeconomics. In the Spring of 2014 she began working for the Wall Street Journal in Brussels and is still here covering EU economic and financial news.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="img-holder">
                    <img src="http://ig.ft.com/sites/nico-colchester-fellowship/images/james.png" class="card__img">

                </div>
                <div class="card__body">
                    <p class="quote">
                        The Nico Colchester fellowship launched my journalism career in a way that I will always be thankful for, giving me a passion for the newsroom, writing and reporting
                    </p>
                    <h3 class="card__title name">
                        James Politi
                    </h3>
                    <p class="job">
                        Rome Bureau Chief, Financial Times
                    </p>
                    <p class="standfirst"></p>
                    <p>
                        James was awarded the Nico Colchester fellowship in 2000, spending three months at the Financial Times in London. He then joined the FT’s graduate trainee scheme, eventually taking up the role of US deals correspondent in New York, covering Wall Street. He later moved to Washington as economics and trade correspondent, and is now Rome Bureau Chief.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="img-holder">
                    <img src="https://ig.ft.com/static/nico-colchester/images/jennifer.png" class="card__img">
                </div>
                <div class="card__body">
                    <p class="quote">
                        The Nico Colchester fellowship award has had a decisive impact on my life, as I had never contemplated working in Brussels or following European politics before starting my internship
                    </p>
                    <h3 class="card__title name">
                        Jennifer Rankin
                    </h3>
                    <p class="job">
                        Brussels correspondent, The Guardian
                    </p>
                    <p class="standfirst"></p>
                    <p>
                        Jennifer was awarded the Nico Colchester fellowship in 2006, spending three months at The Economist in Brussels. After the fellowship, she spent five years as a freelance journalist in Brussels and Moscow, working for the Scotsman, the Irish Times and Reuters. In 2012 she joined The Guardian in London and in 2016 was appointed Brussels correspondent for The Guardian.
                    </p>
                    <p>
                        <a href="http://www.ft.com/cms/s/6d1391be-0b49-11e3-bffc-00144feabdc0.html">See a list of all previous Nico Colchester fellowship award winners</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
