@import 'o-colors/main';
@import 'o-grid/main';

$o-grid-is-silent:  false;
$sans: MetricWeb, sans-serif;

.winner .year,
.runnerup .year {
  display: none;
}

.winner .job {
  font-size: 1.25em;
  line-height: 30px;
}

// Line Copy 3: */
// border: 2px solid #C0B6A9;
// Line Copy 4: */
// border: 2px solid #C0B6A9;
// arrow: */
// border: 2px solid #C0B6A9;

// White Rectangle: */

.main-image {
  text-align: center;
  margin: 0 0 24px;

  > img {
    max-width: 360px;
    width: 100%;
  }
  &:after {
    content: '';
    max-width: 400px;
    border-bottom: 1px solid oColorsGetPaletteColor('black-30');
    display: block;
    margin: 0 auto;
    position: relative;
    top: -3px;
  }
}

.people-group {
  background: #fffbf7;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 1.5em;
  padding-top: 1.5em;
  border-radius: 0 0 4px 4px;

  &.winner {
    margin-bottom: 0;
    border-radius: 0;
  }
}


.group-heading {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;

  &:after {
    display: block;
    margin: 0 auto;
    width: 60px;
    border: 1px solid #979797;
    content: '';
    margin-top: 0.75em;
  }
}

.card {
  // display: block;
  padding: 1.25em 1em;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px solid #e9decf;
}

 // p {
 //    margin: 4px 0;
 //  }

.img-holder {
  float: left;
  border-radius: 4px;

  > img {
    width: 57px;
    height: 57px;
    vertical-align: bottom;
  }
}

// Person of  the Year: */
.headline {
  font-family: oFontsGetFontFamilyWithFallbacks(FinancierDisplayWeb);
  font-size: 2em;
  color: #333333;
  line-height: 36px;
  text-align: center;
  position: relative;
  font-weight: normal;
  margin: 6px 0;
}

.intro {
  max-width: 720px;
  margin: 0 auto 2.2em auto;
  font-family: oFontsGetFontFamilyWithFallbacks(FinancierDisplayWeb);
  font-size: 16px;
  font-style: italic;
  color: #505050;
  line-height: 22px;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #2e6e9e;
  // white-space: nowrap;
}
// 2015: THE WINNER: */
.winner_section_title {
  font-family: $sans;
  font-size: 14px;
  color: #333333;
  letter-spacing: 0.1em;
  line-height: 14px;
}

.winner .card__body {
  margin-left: 10px;
}
// Line: */
//border: 2px solid #979797;

.card__body h3 {
  font-family: $sans;
  font-weight: 600;
  font-size: 1em;
  margin: 20px 0 -6px;
  color: oColorsGetPaletteColor('black-80');
}

.card__body ul {
  list-style-position: outside;
  margin-left: 0;
  padding-left: 20px;
  margin-top: -8px;
  > li {
    color: oColorsGetPaletteColor('black-70');
    margin-bottom: 10px;
    font-family: $sans;
    font-size: 14px;
    font-weight: 400;
  }
}

.quote {
  font-style: italic;
  font-size: 16px;
  line-height: 22px;
  margin-left: 90px;
  color: oColorsGetPaletteColor('black-70');
  letter-spacing: 0.02em;
  &:before {
    background: url('http://ft-ig-images-prod.s3-website-eu-west-1.amazonaws.com/v1/8480244652-n6k9x.svg');
    content: ' ';
    background-size: 30px 20px;
    width: 30px;
    height: 20px;
    margin-left: -26px;
    margin-top: -14px;
    margin-bottom: 4px;
    display: block;
  }
}
// Angela Merkel: */
.card__title.name {
  font-family: $sans;
  font-size: 18px;
  color: #333333;
  line-height: 26px;
  margin: -6px 0 0;
  font-weight: 500;
}

.img-holder {
  margin-right: 1em;
  overflow: hidden;
}

.runnerup .card__body,
.previous .card__body {
  overflow: hidden;

}

.job {
  font-family: $sans;
  font-weight: 500;
  color: #a7a59b;
  font-size: 16px;
  margin: 4px 0;
}
// Blurb: */
p {
  font-family: oFontsGetFontFamilyWithFallbacks(FinancierDisplayWeb);
  font-size: 16px;
  color: #505050;
  line-height: 22px;
  margin-top: 14px;

}



// PREVIOUS WINNERS
// SECTION TITLE: */
.section_title {
  font-family: $sans;
  font-size: 16px;
  color: #505050;
}
// PREVIOUS WINNER NAME: */
.previous_name {
  font-family: $sans;
  font-size: 16px;
  color: #333333;
  line-height: 16px;
}

// YEAR: */
.year {
  font-family: $sans;
  font-size: 14px;
  color: #9b164f;
  margin-top: -3px;
  letter-spacing: 0.5px;
  line-height: 16px;
  font-weight: 500;
}

// LINK TO FULL PROFILE

// Full profile: */
.full-profile {
  font-family: $sans;
  font-size: 16px;
  color: #333333;
  line-height: 22px;
};
// arrow: */
//border: 3px solid #9B164F;

.full_profile:hover {
  // Rectangle 7:hover: */
  background: #9b164f;
  width: 116px;
  height: 28px;
  // Full profile: */
  font-family: $sans;
  font-size: 16px;
  color: #ebebeb;
  line-height: 22px;
  // arrow: */
  border: 3px solid #ebebeb;
}

.story-promo {
  text-decoration: none;
  color: oColorsGetPaletteColor('black-70');
  line-height: 1.2em;
  position: relative;
  bottom: 0;

  & > .link {
    // display: block;
    text-align: right;
    margin-right: 30px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 1rem;
    float: right;

    &:after {
      content: " ";
      background: url('https://image.webservices.ft.com/v1/images/raw/fticon:arrow-right?height=44&tint=9B164F,9B164F&source=ig_wrr') no-repeat center center;
      background-size: 20px 20px;
      position: absolute;
      bottom: -34px;
      // right: 0;
      width: 20px;
      height: 20px;
      margin: 0 7px 8px 0;
    }
  }
}

.winner .story-promo {
  text-decoration: none;
  color: #ffffff;
  line-height: 1.4em;
  float: right;

  & > .link {
    display: block;
    background-color: #9b164f;
    text-align: left;
    margin-right: 12px;
    margin-top: 10px;
    font-size: 1rem;
    width: 114px;
    font-weight: 500;
    padding-left: 16px;
    height: 28px;
    line-height: 26px;
    box-sizing: border-box;

    &:after {
      content: " ";
      background: url('https://image.webservices.ft.com/v1/images/raw/fticon:arrow-right?height=44&tint=ffffff,ffffff&source=ig_wrr') no-repeat center center;
      background-size: 20px 20px;
      position: absolute;
      bottom: -4px;
      right: 14px;
      width: 20px;
      height: 20px;
      margin: 0 7px 8px 0;
    }
  }
}

@include oGridRespondTo(S) {
  .img-holder,
  .winner .card__body {
  }

  .card {
    padding-right: 50px;
  }
  .intro {
    font-size: 1.2em;
    line-height: 1.4em;
  }
}


@include oGridRespondTo(M) {
  .headline {
    font-size: 2.5em;
    margin: 0.3em 0;
    line-height: 44px;
  }
  .intro {
      font-size: 1.3em;
      line-height: 1.4em;
    }
  .img-holder,
  .winner .card__body {
  }

  .img-holder img {
    width: 85px;
    height: 85px;
  }
  .quote {
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    margin-left: 150px;
    color: oColorsGetPaletteColor('black-70');
    &:before {
      background: url('http://ft-ig-images-prod.s3-website-eu-west-1.amazonaws.com/v1/8480244630-jzbe1.svg');
      content: ' ';
      background-size: 42px 28px;
      width: 42px;
      height: 28px;
      margin-left: -36px;
      margin-top: -14px;
      display: block;
    }
  }
  .job {
    font-size: 18px;
    line-height: 22px;
  }
  .card__title.name {
    font-size: 22px;
    line-height: 22px;
    margin: -3px 0 0;
  }

  p {
    font-size: 21px;
    line-height: 28px;
  }
  .card__body h3 {
    font-size: 1.25em;
  }
  .card__body ul > li {
    font-size: 1.25em;
    font-weight: 200;
  }

  .winner .name {
    font-size: 1.5em;
  }

  .group-heading {
    font-size: 1.25em;

    &:after {
      display: block;
      width: 80px;
    }
  }
  .card {
    padding-top: 2.1em;
    padding-bottom: 2.1em;
  }
}

 @include oGridRespondTo(L) {
  .headline {
    font-size: 3.5em;
    margin: 0.5em 0;
  }
  .intro {
    font-size: 1.4em;
    line-height: 1.5em;
  }
  .img-holder,
  .winner .card__body {
  }
  h3 {
    font-size: 1.5em;
  }
  .quote {
    font-size: 20px;
    line-height: 26px;
  }
  .card {
    padding-right: 100px;
    padding-left: 100px;
  }

  .img-holder img {
    width: 100px;
    height: 100px;
  }

  .winner .name {
    font-size: 2em;
  }
}

// fix for position of profile arrow in link on webkit browsers

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .story-promo {

    & > .link {

      &:after {
        bottom: -38px;
      }
    }
  }
}
